<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>오늘의 시작</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.minhome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/static/the-big-picture.css" rel="stylesheet" />
  </head>

  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            {%for content in wise_saying.contents%}
            <h3 class="mt-5 text-light">{{content}}</h3>
            {%endfor%} {%if wise_saying.person%}
            <p class="mt-5 text-light">{{wise_saying.person}}</p>
            {%endif%}
            <br />

            <button
              class="btn btn-secondary"
              type="button"
              onclick="location.href='/board'"
            >
              START
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
  </body>
</html>
